# Ignore hidden files
.*

# Ignore temporary files
*~

# Annoying Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Generated content
/vendor/

# Exceptions
!.gitignore
!.gitkeep
!/.php_cs
